body {
    height:100%;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}


.main-content {
    background: #eff0f4 none repeat scroll 0 0;
    margin-left: 0;
    overflow: hidden;
    padding: 60px 15px 20px;
}