#game_area .top_area,#game_area .bottom_area {
    height:110px;
    background: #31708f;
    padding-left:10px;
}

#game_area .top_area .hand_card,#game_area .bottom_area .hand_card {
    overflow: hidden;
}

#game_area .top_area .hand_card ul li,#game_area .bottom_area .hand_card ul li {
    display: block;
    float:left;
    width:60px;
    height:80px;
    border:1px solid #333;
    margin-right:10px;
    background: #fee;
    padding:4px;
}

#game_area .bottom_area .hand_card ul li.selected {
    border:1px solid #f33;
}

#game_area .bottom_area {
    background: #985f0d;
}

#game_area .bottom_area .hand_card  {
    width:350px;
    float:left;
}
#game_area .bottom_area .hand_card ul li {
    background: #ccc;
}

#game_area .bottom_area .btn_area {
    float:left;
    padding-top:20px;
}

#game_area .bottom_area .btn_area .btns .btn,
#game_area .bottom_area .btn_area .other_btns .btn {
    /*display: block;*/
    padding:2px 4px;
    margin-left:4px;
}

#game_area .bottom_area .btn_area .other_btns {
    margin-top:20px;
    text-align: right;
}

#game_area .middle_area {
    height:220px;
    background: #b3f9c4;
    padding:10px;
}

#game_area .middle_area .middle_left {
    width:340px;
    height:200px;
    border-right: 1px solid #333;
    overflow: hidden;
    background: #ccc;
    float:left;
}

#game_area .middle_area .middle_right {
    background: #ffdd88;
    width:420px;
    float:left;
    height:200px;
    overflow: hidden;
    padding: 10px;
}

#game_area .middle_area .middle_left .chess_box {
    width:200px;
    height:100px;
    border:1px solid #333;
    background: #fee;
    float:left;
}
#game_area .middle_area .middle_left .chess_box_out {
    width:100px;
    height:100px;
    float:left;
}

#game_area .middle_area .middle_left .card_library {
    float:left;
}
#game_area .middle_area .middle_left .card_library span {
    display: block;
    width:60px;
    height:80px;
    border:1px solid #333;
    margin-right:10px;
    background: #fee;
    padding:4px;
}

#game_area .middle_area .middle_left .card_discard {
    float:left;
}
#game_area .middle_area .middle_left .card_discard span {
    display: block;
    width:60px;
    height:80px;
    border:1px solid #333;
    margin-right:10px;
    background: #fee;
    padding:4px;
}

#game_area .middle_area .middle_right ul {

}

#game_area .middle_area .middle_right ul li {
    display: block;
    width:60px;
    height:80px;
    border:1px solid #333;
    margin-right:20px;
    background: #fee;
    padding:4px;
    float:left;
}



#sidebar .record_list {
    background: #74d974;
    height:300px;
    overflow-y: scroll;
}