ul,li {
    padding:0;
    margin: 0;
}
#main {
    width:800px;
    float:left;
    overflow: hidden;
    /*background: #00c4f7;*/
    background: #dfeff7;
    padding:10px;
    height:500px;
}

#sidebar {
    width:340px;
    float:left;
    overflow: hidden;
    background: #a7caee;
    padding:10px;
    height:500px;
}

#game_head {
    background: #0193d7;
    padding:8px 4px;
    border-radius: 4px;
}

#game_head .game_id_txt {
    border:2px solid #FBFA03;
    color:#FBFA03;
    border-radius: 4px;
    letter-spacing: 2px;
    padding:2px 4px;
}
#game_head .game_title_txt {
    color: #fefefe;
    font-size:16px;
    font-weight: bold;
    margin-left:10px;
}

#game_area {
    overflow: hidden;
}



